<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyEnglish"
        tools:targetApi="31">
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".DictionaryActivity"
            android:exported="false"
            android:theme="@style/Theme.HappyEnglish" />
        <activity
            android:name=".Reg"
            android:exported="false" />
        <activity
            android:name=".PDFViewer"
            android:exported="false" />
        <activity
            android:name=".GrammarTestActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OnBoarding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vhod" />
        <activity
            android:name=".WORD"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".WORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SPEECH"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>